@model CreateRoleViewModel
@{

}

<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <form method="post">
                <h4>Crear Nuevo Role</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row col-md-12">
                    <div class="col-md-12">
                        <label asp-for="RoleName"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row col-md-12">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Crear</button><br />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
