<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - AdSanare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- FONTAWESOME : https://kit.fontawesome.com/a23e6feb03.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top baseColor">
        <button id="sidebarCollapse" class="btn navbar-btn">
            <i class="fas fa-lg fa-bars"></i>
        </button>
        <a class="navbar-brand" href="">
            <h3 id="logo">AdSanare</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="link" href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout<span class="sr-only">(current) </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper fixed-left">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><i class="fas fa-user"></i>Username</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href=""><i class="fas fa-home"></i>Home</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-clipboard"></i>Historia clínica</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-user-cog"></i>Adm. de usuarios</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Persona" asp-action="Index"><i class="fas fa-user-cog"></i>Pacientes</a>
                </li>

            </ul>
        </nav>

        <div id="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-muted">
            <div class="text-footer">
                &copy; 2020 - AdSanare.
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
