@model AdSanare.Entities.Persona
@section Scripts {
    <script type="text/javascript">
        $("#btnBuscarDocumentacion").on("click", function () {
            $("#listadoCorrespondiente").html("<div class='col-md-12'><div class='form-group'><br/><label class='control-label'>Buscando...</label></div></div>");
            $("#collapseOne").collapse('toggle')
            $.ajax({
                url: "/Persona/_ListaPersonas",
                data: {
                    Nombre: $("#Nombre").val(),
                    Apellido: $("#Apellido").val(),
                    Documento: $("#Documento").val()
                },
                type: "GET",
                success: function (data) {
                    $("#listadoCorrespondiente").html(data);
                }
            });
        });
    </script>
}
<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Buscador
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" placeholder="Ingrese el Nombre del Paciente" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input asp-for="Apellido" class="form-control" placeholder="Ingrese el Apellido del Paciente" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Documento" class="control-label"></label>
                            <input asp-for="Documento" class="form-control" placeholder="Ingrese el Numero de Documento del Paciente" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label></label>
                            <a class="btn btn-primary form-control" id="btnBuscarDocumentacion">Buscar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="listadoCorrespondiente"></div>