@model AdSanare.Entities.Ingreso
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Editar Ingreso</h3>
            </div>
            <form asp-antiforgery="true" asp-action="Edit" method="post">
                <input type="hidden" class="form-control" asp-for="Id" />
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="FechaIngreso"></label>
                        <input class="form-control" asp-for="FechaIngreso">
                        <span class="text-danger" asp-validation-for="FechaIngreso"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diagnostico"></label>
                        <input class="form-control" asp-for="Diagnostico">
                        <span class="text-danger" asp-validation-for="Diagnostico"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AntecedentesMedicos"></label>
                        <input class="form-control" asp-for="AntecedentesMedicos">
                        <span class="text-danger" asp-validation-for="AntecedentesMedicos"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AntecedentesQuirurgicos"></label>
                        <input class="form-control" asp-for="AntecedentesQuirurgicos">
                        <span class="text-danger" asp-validation-for="AntecedentesQuirurgicos"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Alergias"></label>
                        <input class="form-control" asp-for="Alergias">
                        <span class="text-danger" asp-validation-for="Alergias"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MedicacionHabitual"></label>
                        <input class="form-control" asp-for="MedicacionHabitual">
                        <span class="text-danger" asp-validation-for="MedicacionHabitual"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Peso"></label>
                        <input class="form-control" asp-for="Peso">
                        <span class="text-danger" asp-validation-for="Peso"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Talla"></label>
                        <input class="form-control" asp-for="Talla">
                        <span class="text-danger" asp-validation-for="Talla"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>