@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<h3 class="text-danger">@ViewBag.ErrorMessage</h3>
<a asp-action="index" asp-controller="home">Click aquí para volver a la página de inicio</a>